  
.resort-list{
    margin-top: 90px;
    width: 50%;
    overflow-y: hidden;
    padding-left: 30px;
    padding-right: 30px;
}


@media (max-width: 740px) {
    .resort-list{
      margin-top: 20px;
      width: 100%;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
  }
}