.resorts{
    position: absolute;
    margin-top: 60px;
    width: 100%;
    background-color: rgb(243, 243, 243);
}

.filter {
    margin: 0;
    display: inline;
    position: fixed;
    z-index: 100;
    background-color: white;
    text-align: center;
    width: 100%;
    font-size: 75%;
    padding-top: 8px;
}

.price input[type=range] {
    display: inline-block;
}
  
.price, .region, .pass, .beginners, .sort {
    height: 20px;
    display: inline-block;
    margin: 0 7px 10px 7px;
}
.region {
    padding-top: -10px;
}

  
.resortList{
    margin-top: 100px;
    width: 50%;
    overflow-y: hidden;
    padding-left: 30px;
    padding-right: 30px;
}
  
.mapBox{
    width: 50%;
    height: 80vh;
}

  
.resortCard {
    margin: auto;
    margin-bottom: 20px;
    max-width: 500px;
    display: block;
    position: relative;
    background-color:#fff;
    transition: background-color 0.5s, transform 0.3s;

}

.resortCard:hover {
    transform: scale(1.03);
    z-index: 10;
}
  
#resortCardPhoto {
text-align: center; 
}

#resortCardPhoto img {
    vertical-align: middle;
    width: 100%;
    max-width: 500px;
    height: 30vh;
    /* border-radius: 3px; */
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
#resortCardName {
    padding: 10px;
    font-size: 22px;
}

#resortCardText, #resortCardParams{
    padding: 0 10px 10px 10px;
    text-align: justify;
    font-size: 90%
  }
  
.filter select {
    font-size: 90%;
    text-align-last: center;
    display: inline-block;
    color: #fff;
    padding: 3px;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 50px;
    border-color:#0652DD;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #0652DD;
}

.filter select option {
    text-align: center;
}
