.wanna-go {
    background-color: rgb(243, 243, 243);
    width: 100%;
    min-height: 100%;
    position: absolute;

}

.no-saved-resorts {
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 200%;
    font-weight: 200;
}