.about-page {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: rgb(243, 243, 243);
    overflow-y: hidden;
}

.about {
    position: relative;
    top: 100px;
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
}

.about h1 {
    font-weight: 300;
    font-size: 200%;
}
.about h4 {
    font-weight:400;
    font-size: 90%
}

.about-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.about-row div {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 0 15px;
    border-right: 1px solid black;
}

.about .last-about-div{
    border-right: none;
}


.about-row ul {
    list-style: none;
    text-align: justify;
    font-size: 80%;
}

.about-row li {
    min-width: 100px;
    margin: 20px 5px;
}

footer {
    position: absolute;
    bottom: -25vh;
    background-image: url(../img/mountain-306236.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    background-position: bottom;
}

.about ion-icon {
    margin: 20% 0;
    font-size: 200%;
    color: #0546bc;
}

.about h5 {
    font-size: 80%;
}