.nav {
  margin: 0 auto;
  max-width: 1500px;
}

.nav-bar ul{
  list-style-type: none;
}

.nav-bar li {
  display: inline-block;
  margin: 20px;
  float: right;
  font-size: 100%;
}

.nav-bar a:link,
.nav-bar a:visited{
  color:#fff;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  transition: color 0.2s, border 0.3s;
}

.nav-bar a:hover,
.nav-bar a:active{
  color:#aaa;
  border-bottom: 1px solid #0652DD
}

.not-home-nav {
  max-width: 2000px;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index:100;
  background-color: rgb(32, 32, 32);
}

.logo {
  margin: 10px;
  display: inline-block;
  float: left;
  font-size: 170%;
  color: #0652DD;
  text-transform: uppercase;
}

@media (max-width: 740px) {
  .nav-bar {
    font-size: 65%;
  }

  .nav-bar ul li {
    margin-right: 5px;
  }
}

@media (max-width: 452px) {

  .logo {
    margin-top: 20px;
    font-size: 120%;
  }

  .nav-bar ul li {
    margin: 25px 5px;
  }
  
}

@media (max-width: 348px) {

 .nav-bar {
    font-size: 60%;
  }
  .logo {
    margin-top: 22px;
    font-size: 110%;
  }

  
}


