
.resort-box {
    position: relative;
    top: 60px;
    width: 100%;
}
  
/* ROW 1 */
.row1 {
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    justify-items: center;
    max-width: 1200px;
}

.resort-image{
    max-width: 100%;
    max-height: 50vh;
    margin-bottom: -5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(173, 173, 173);
}
  
.resort-image-box {
    margin: 10px auto 10px 10px;
    grid-column: 2 / 2;
}
  
.resort-title-box {
    box-sizing: border-box;
    margin: 10px 10px 10px auto;
    box-shadow: 2px 2px 3px rgb(173, 173, 173);
    border-radius: 5px;
    padding: 10px;
    background-color:rgb(255, 255, 255);
    text-align: center;
}
.resort-title-box h1 {
    font-size: 350%;
    font-weight: 100;
} 
.resort-title-box p {
    font-size: 120%;
    margin-top: 20px;
    color:rgb(6, 82, 221);
}
  
.resort-title-box ion-icon {
    vertical-align: sub;
    font-size: 120%;
}
  
  
.resort-title-box a:link,
.resort-title-box a:visited{
    font-size: 90%;
    display: inline-block;
    padding-top: 10px;
    border-bottom: 1px solid transparent;
    color:rgb(73, 73, 73);
    transition: color 0.2s, border 0.3s;
}
  
.resort-title-box a:hover,
.resort-title-box a:active{
    color:rgb(126, 126, 126);
    border-bottom: 1px solid #0652DD
}
/* ROW 2 */
.row2 {
    margin: 0 auto;
   display: block; 
   width: 100%;
    max-width: 1200px;
}

.desc-box {
    color: white;
    text-align: center;
    display: block; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../img/skis.jpg);
    background-size: cover;
    background-position: top;
    padding: 15px;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(173, 173, 173);
    min-height: 500px;
    position: relative;
} 
  
.desc {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 0;
    transform: translate(-50%, -50%);
    min-width: 65%;
    max-width: 700px;
    font-size: 90%;
    text-align: justify;
    line-height: 1.4;
}
  
.save-resort{
    padding-top: 20px;
}
  
.desc-box select {
    font-size: 80%;
    text-align-last: center;
    display: inline-block;
    color: #fff;
    padding: 2px;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 50px;
    border-color:#0652DD;
    background-color: #0652DD;
}
  
.desc-box input[type=submit],
.desc-box button {
    background-color: transparent;
    border: 1px solid #0652DD;
    border-radius: 50px;
    padding: 3px 5px;
    color: #0652DD;
    margin-left: 5px;
    transition: background-color 0.2s, color 0.2s;
}
  
.desc-box input[type=submit]:hover,
.desc-box button:hover {
    background-color: #0652DD;
    color: white;
}
  
/* ROW 3 */
.row3 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: 0 auto;
    justify-items: center;
    max-width: 1200px;
}

.row3 div {
    background-color: white;
    width: 80%;
    /* max-width: 300px; */
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(173, 173, 173);
  }
  
.left-col {
    margin: 5px 5px 5px 20%;
}
  
.right-col {
    margin: 5px 20% 5px 5px;
}
  
.icon {
    height: 20px;
    vertical-align: sub;
}
/* PIE */
.pie {
    margin: 10px auto 50px auto;
    padding: 10px;
    display: block; 
    max-width: 600px;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(173, 173, 173);
}

/* media queries */


/* Small Phones from 0 - 480 */
@media only screen and (max-width: 700px) {
    .row1 {
        /* margin-top: 50px; */
        display: block;
        text-align: center;
    }

    .row2 {
        width: 100%;
    }

    .desc-box{
        width: 90%;
        font-size: 80%;
    }
    .desc {
        width: 90%;
    }

    .resort-image-box {
        margin: 10px 5px 10px 5px;
    }

    .resort-title-box {
        margin: 10px 5px 10px 5px;
    }

} 

