nav ul{
    list-style: none;
    display: inline;
}

nav ul li {
    color: black;
    display: inline;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
nav ul li img {
    background-color: nil; 
}

nav {
    top: 0;
    padding: 20px, 20px, 20px, 20px;
    margin: 20px, 20px, 20px, 20px;
    position: relative;
    background-color: gray;
    background-position: center; /* Center the image */
    height: 150px; 
    background-image: url('https://media-exp1.licdn.com/dms/image/C5616AQFTIVMVY4TLpg/profile-displaybackgroundimage-shrink_350_1400/0?e=1586390400&v=beta&t=CbQgQSV6GD4oyMBmk7fs9Igz2eWUEb37rQpU47EUI44');
}
a {
    text-decoration: none;
    color: black;
}